<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitstudy.app.mapper.UserMapper">

    <select id="selectAllUsers" resultType="com.bitstudy.app.dto.UserDto">
        SELECT * FROM banryeoon.user;
    </select>

    <select id="selectUserBySeqno" parameterType="int" resultType="com.bitstudy.app.dto.UserDto">
        SELECT * FROM banryeoon.user where userSeqno = #{userSeqno}
    </select>

    <insert id="insertUser" parameterType="com.bitstudy.app.dto.UserDto">
        INSERT INTO banryeoon.user (
            userSeqno, userId, userPw, userName, userPhone, userEmail, userBirth
        ) VALUES (
                     #{userSeqno}, #{userId}, #{userPw}, #{userName}, #{userPhone}, #{userEmail}, #{userBirth}
                 )
    </insert>

    <update id="updateUser" parameterType="com.bitstudy.app.dto.UserDto">
        UPDATE banryeoon.user
        SET
            userId = #{userId},
            userPw = #{userPw},
            userName = #{userName},
            userPhone = #{userPhone},
            userEmail = #{userEmail},
            userBirth = #{userBirth}
        WHERE userSeqno = #{userSeqno}
    </update>

    <delete id="deleteUser" parameterType="int">
        DELETE FROM banryeoon.user WHERE userSeqno = #{userSeqno}
    </delete>

</mapper>
